# USAGE: Copy this file to .env and fill in the values. You gotta make sure that you're .env is located directly under ./frontend (./frontend/.env)


VITE_API_URL=http://localhost:5050
VITE_SUPABASE_URL=https://kudpkhmycnsdvziepcbb.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt1ZHBraG15Y25zZHZ6aWVwY2JiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE0Mzg1MTYsImV4cCI6MjA4NzAxNDUxNn0.X4hyyH5umCnofs6BiUhx_oi5nlvnP3y2OWF5cuDM4cY
VITE_DEMO_EMAIL=test@test.com
VITE_DEMO_PASSWORD=test123