# USAGE: Copy this file to .env and fill in the values. You gotta make sure that you're .env is located directly under ./frontend (./frontend/.env)


VITE_API_URL=http://localhost:5050
VITE_SUPABASE_URL=https://kudpkhmycnsdvziepcbb.supabase.co
VITE_SUPABASE_ANON_KEY=get-key-from-seb
VITE_DEMO_EMAIL=test@test.com
VITE_DEMO_PASSWORD=test123