# Backend variables Supabase / DB
DB_CONNECTION_STRING=
SUPABASE_URL=
SUPABASE_JWT_SECRET=
SUPABASE_ANON_KEY=

# Frontend variables
# I think this should still be localhost, will need to change this depending on how its hosted
VITE_API_URL=
VITE_DEMO_EMAIL=
VITE_DEMO_PASSWORD=
