@import "tailwindcss";
@plugin "daisyui" {
  themes: night --default;
}

/* Override for DaisyUI Theme */
[data-theme="night"] {
  --color-primary: oklch(66% 0.155 48);
}

body {
  background-color: var(--color-base-100);
  color: var(--color-base-content);
}

.nav-link-active {
  background-color: color-mix(in oklch, var(--color-primary) 15%, transparent);
  color: var(--color-primary);
}
